!!!
/
  Story by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Recommend Amin Gilani
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'home', media: 'all'
  %body
    / Wrapper
    #wrapper.divided
      / One
      %section.banner.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
        .content
          %h1 Recommend My US Visa Application
          %p.major
            Hi, my name is Amin. I recently applied for an EB2 visa, reserved for people with exceptional abilities with a National Interest Waiver (NIW)
            that will allow me to keep working on my startup. If you believe I deserve this, please recommend me for my work and abilities.
          %ul.actions.horizontal
            %li
              %a.button.big.wide.special.smooth-scroll-middle{:href => new_recommendation_path} Recommend me
            %li
              %a{:href => "#who-are-you"} Learn more about me
        .image
          = image_tag "allnighter.jpg"
      %section#who-are-you.wrapper.style1.align-center.-
        .inner
          %h2 Who are you?
          %p
            My name is
            = succeed "." do
              %strong SM Amin Gilani
            %em Pakistan
            and a software engineer, even though I graduated with a Bachelors
            degree in Economics and Finance in 2015. During my twenty-five years, I've won
            = succeed "," do
              %strong two hackathons
            %strong three startup
            projects,
            raised funds from a Silicon Valley VC, qualified as the
            %strong top 3%
            in software engineering talent. I also just got engaged. Sorry ladies.
          .index.align-left
            / Unordered List
            %section
              %header
                %h3 Achievements
              .content
                %ul
                  %li
                    Graduated BSc Economics &amp; Finance. LSE, Pakistan
                    %strong — 2015
                  %li
                    Winner Coinbase Bithack II Hackathon
                    %strong — 2015
                  %li
                    Founder - Payload, incubated at Plan9, Pakistan
                    %strong — 2015
                  %li
                    Winner Thowathon I Hackathon
                    %strong — 2015
                  %li
                    Founder - Mailpenny, accelerated &amp; Funded by Boost VC, San Mateo
                    %strong — 2016
                  %li
                    Joined Toptal's network of the top 3% in talent
                    %strong — 2016
                  %li
                    Engaged
                    %strong — 2017
          %a.button.small.wide.special.smooth-scroll-middle{:href => new_recommendation_path} Recommend me
          %hr/
          %header
            %h3 Why do you want to move the the US?
          %p
            While I love Pakistan, I strongly believe that my US business cannot interact with customers,
            understand the market, or raise funds if I'm on the other side of the planet.
          %hr/
          %header
            %h3 Do you really think you have exceptional abilities?
          %p
            %strong No.
            I really don't. Everything I've ever accomplished has come as a surprise to me.
            When Coinbase contacted me about winning a hackathon with 300 global participants I was dumbfounded.
            When my first startup was incubated because "it's a great idea", I thought the judges were high. When
            my investor emailed me about funding my company, I thought he was pulling a modern day nigerian prince
            scam on me (btw
            = succeed ")." do
              %a{:href => "https://boost.vc/apply"} apply to Boost VC
          %p
            But then again, if all of my previous accomplishements were flukes, I'm hoping that
            one day I'll build something that a lot of people delude themselves into think they want it.
            And if it takes pretending that I'm awesome, well, that can't be too hard.. I'm already pretty
            epic.
          %hr/
          %header
            %h3 Why did your startups fail?
          %p
            Jeez, well this is an awkward question. Because I messed up. I've been
            the only constant in all my projects. I've learnt a lot from my experiments, and I've identified
            the mistakes I made, and hope not to repeat them
          %div{:style => "width: 60%; margin: 0 auto;"}
            %ol.align-left
              %li
                %p
                  %strong Distraction
                  %br/
                  tech is a hammer, and when you're trying to solve problems,
                  everything is a nail. During my first startup, we started doing too much and ended up doing
                  nothing at all. We wrote code for six months, but never released a product. I learnt that
                  I need to figure out the one thing I need to build, and build it first.
              %li
                %p
                  %strong Working in Isolation
                  %br/
                  startups are meant to serve customers. We worked too
                  long in isolation, building features that we didn't even test. And when we launched, no one came.
              %li
                %p
                  %strong Team &amp; Motivation
                  %br/
                  my first few startups were made of temporary talent whose motivations were
                  entirely different from those of the company. I learnt that in order to build a long term business,
                  a company needs a team of exceptional engineers whose commitment wasn't just as deep as their
                  (startup level tiny) paycheck. Co-founders need to believe that the company they're building will
                  further their own personal causes. Believing that the company is larger than the
                  team will keep the founding team together during times or conflict and crisis.
          %hr/
          %section#who-are-you.wrapper.style1.align-center.-
            .inner
              %h2
              %p
                While I love Pakistan, I strongly believe that my US business cannot interact with customers,
                understand the market, or raise funds if I'm on the other side of the planet.
              .index.align-left
                / Unordered List
                %section
                  %header
                    %h3 Achievements
                  .content
                    %ul
                      %li
                        Graduated BSc Economics &amp; Finance. LSE, Pakistan
                        %strong — 2015
                      %li
                        Winner Coinbase Bithack II Hackathon
                        %strong — 2015
                      %li
                        Founder - Payload, incubated at Plan9, Pakistan
                        %strong — 2015
                      %li
                        Winner Thowathon I Hackathon
                        %strong — 2015
                      %li
                        Founder - Mailpenny, accelerated &amp; Funded by Boost VC, San Mateo
                        %strong — 2016
                      %li
                        Joined Toptal's network of the top 3% in talent
                        %strong — 2016
                      %li
                        Engaged
                        %strong — 2017
              %a.button.small.wide.special.smooth-scroll-middle{:href => new_recommendation_path} Recommend me
              %hr/
              .index.align-left
                / Text
                %section
                  %header
                    %h3 Text
                  .content
                    %p
                      This is
                      %b bold
                      and this is
                      = succeed "." do
                        %strong strong
                      %i italic
                      and this is
                      = succeed "." do
                        %em emphasized
                      %sup superscript
                      text and this is
                      %sub subscript
                      text.
                      This is
                      %u underlined
                      and this is code:
                      = succeed "." do
                        %code for (;;) { ... }
                      = succeed "." do
                        %a{:href => "#"} link
                / Heading
                %section
                  %header
                    %h3 Headings
                  .content
                    %h1 Heading Level 1
                    %h2 Heading Level 2
                    %h3 Heading Level 3
                    %h4 Heading Level 4
                    %h5 Heading Level 5
                    %h6 Heading Level 6
                    %hr/
                    %header
                      %h1 Heading with a Subtitle
                      %p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
                    %p Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
                    %hr/
                    %header
                      %h2 Heading with a Subtitle
                      %p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
                    %p Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
                    %hr/
                    %header
                      %h3 Heading with a Subtitle
                      %p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
                    %p Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
                / Unordered List
                %section
                  %header
                    %h3 Unordered List
                  .content
                    %h4 Default
                    %ul
                      %li Lorem ipsum dolor sit amet
                      %li Interdum adipiscing gravida odio
                      %li Porttitor sem non integer
                      %li Non faucibus ornare mi ut ante
                      %li Sagittis adipiscing eleifend
                      %li Felis amet dolore viverra
                    %h4 Alternate
                    %ul.alt
                      %li Lorem ipsum dolor sit amet
                      %li Interdum adipiscing gravida odio
                      %li Porttitor sem non integer
                      %li Non faucibus ornare mi ut ante
                      %li Sagittis adipiscing eleifend
                      %li Felis amet dolore viverra
                / Ordered List
                %section
                  %header
                    %h3 Ordered List
                  .content
                    %ol
                      %li Lorem ipsum dolor sit amet
                      %li Interdum adipiscing gravida odio
                      %li Porttitor sem non integer
                      %li Non faucibus ornare mi ut ante
                      %li Sagittis adipiscing eleifend
                      %li Felis amet dolore viverra
                / Ending div
          / Two
          %section#first.spotlight.style1.orient-right.content-align-left.image-position-center.onscroll-image-fade-in
            .content
              %h2 Magna etiam feugiat
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.
              %ul.actions.vertical
                %li
                  %a.button{:href => "#"} Learn More
            .image
              = image_tag "spotlight01.jpg"
          / Three
          %section.spotlight.style1.orient-left.content-align-left.image-position-center.onscroll-image-fade-in
            .content
              %h2 Tempus adipiscing
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.
              %ul.actions.vertical
                %li
                  %a.button{:href => "#"} Learn More
            .image
              = image_tag "spotlight02.jpg"
          / Four
          %section.spotlight.style1.orient-right.content-align-left.image-position-center.onscroll-image-fade-in
            .content
              %h2 Pharetra etiam nulla
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.
              %ul.actions.vertical
                %li
                  %a.button{:href => "#"} Learn More
            .image
              = image_tag "spotlight03.jpg"
          / Five
          %section.wrapper.style1.align-center
            .inner
              %h2 Massa sed condimentum
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.
            / Gallery
            .gallery.style2.medium.lightbox.onscroll-fade-in
              %article
                %a.image{:href => "gallery/fulls/01.jpg"}
                  = image_tag "gallery/thumbs/01.jpg"
                .caption
                  %h3 Ipsum Dolor
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/02.jpg"}
                  = image_tag "gallery/thumbs/02.jpg"
                .caption
                  %h3 Feugiat Lorem
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/03.jpg"}
                  = image_tag "gallery/thumbs/03.jpg"
                .caption
                  %h3 Magna Amet
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/04.jpg"}
                  = image_tag "gallery/thumbs/04.jpg"
                .caption
                  %h3 Sed Tempus
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/05.jpg"}
                  = image_tag "gallery/thumbs/05.jpg"
                .caption
                  %h3 Ultrices Magna
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/06.jpg"}
                  = image_tag "gallery/thumbs/06.jpg"
                .caption
                  %h3 Sed Tempus
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/07.jpg"}
                  = image_tag "gallery/thumbs/07.jpg"
                .caption
                  %h3 Ipsum Lorem
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/08.jpg"}
                  = image_tag "gallery/thumbs/08.jpg"
                .caption
                  %h3 Magna Risus
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/09.jpg"}
                  = image_tag "gallery/thumbs/09.jpg"
                .caption
                  %h3 Tempus Dolor
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/10.jpg"}
                  = image_tag "gallery/thumbs/10.jpg"
                .caption
                  %h3 Sed Etiam
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/11.jpg"}
                  = image_tag "gallery/thumbs/11.jpg"
                .caption
                  %h3 Magna Lorem
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
              %article
                %a.image{:href => "images/gallery/fulls/12.jpg"}
                  = image_tag "gallery/thumbs/12.jpg"
                .caption
                  %h3 Ipsum Dolor
                  %p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
                  %ul.actions
                    %li
                      %span.button.small Details
          / Six
          %section.wrapper.style1.align-center
            .inner
              %h2 Ipsum sed consequat
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.
              .items.style1.medium.onscroll-fade-in
                %section
                  %span.icon.style2.major.fa-diamond
                  %h3 Lorem
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-save
                  %h3 Ipsum
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-bar-chart
                  %h3 Dolor
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-wifi
                  %h3 Amet
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-cog
                  %h3 Magna
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-paper-plane
                  %h3 Tempus
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-desktop
                  %h3 Aliquam
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-refresh
                  %h3 Elit
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-hashtag
                  %h3 Morbi
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-bolt
                  %h3 Turpis
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-envelope
                  %h3 Ultrices
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
                %section
                  %span.icon.style2.major.fa-leaf
                  %h3 Risus
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
          / Footer
          %footer.wrapper.style1.align-center
            .inner
              %ul.icons
                %li
                  %a.icon.style2.fa-twitter{:href => "https://twitter.com/amingilani"}
                    %span.label Twitter
                %li
                  %a.icon.style2.fa-hacker-news{:href => "https://news.ycombinator.com/user?id=amingilani"}
                    %span.label Facebook
                %li
                  %a.icon.style2.fa-github{:href => "https://github.com/amingilani"}
                    %span.label Instagram
                %li
                  %a.icon.style2.fa-linkedin{:href => "https://linkedin.com/in/amingilani"}
                    %span.label LinkedIn
                %li
                  %a.icon.style2.fa-lock{:href => "https://keybase.io/gilani"}
                    %span.label Email
                %li
                  %a.icon.style2.fa-envelope{:href => "mailto:recommend@gilani.me"}
                    %span.label Email
              %p
                © Amin Shah Gilani. Design:
                = succeed "." do
                  %a{:href => "https://html5up.net"} HTML5 UP
                %a{:href => "https://github.com/amingilani/recommend"} Github
        / Scripts
        %script{:src => "https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"}
        = javascript_include_tag 'home'
        = render 'shared/ga'
        = render 'shared/drift_chat'
