!!!
/
  Story by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Recommend Amin Gilani
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'home', media: 'all'
  %body
    / Wrapper
    #wrapper.divided
      / One
      %section.banner.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
        .content
          %h1 Recommend My US Visa Application
          %p.major
            Hi, my name is Amin. I recently applied for an EB2 visa, reserved for people with exceptional abilities with a National Interest Waiver (NIW)
            that will allow me to keep working on my startup. If you believe I deserve this, please recommend me for my work and abilities.
          %ul.actions.horizontal
            %li
              %a.button.big.wide.special.smooth-scroll-middle{:href => new_recommendation_path} Recommend me
            %li
              %a{:href => "#who-are-you"} Learn more about me
        .image
          = image_tag "allnighter.jpg"
      %section#who-are-you.wrapper.style1.align-center.-
        .inner
          %h2 Who are you?
          %p
            My name is
            = succeed "." do
              %strong SM Amin Gilani
            %em Pakistan
            and a software engineer, even though I graduated with a Bachelors
            degree in Economics and Finance in 2015. During my twenty-five years, I've won
            = succeed "," do
              %strong two hackathons
            %strong three startup
            projects,
            raised funds from a Silicon Valley VC, qualified as the
            %strong top 3%
            in software engineering talent. I'm currently working as co-founder & CTO
            = succeed '.' do
              %a{:href => "https://nazdeeq.com"} Nazdeeq.com
            And I just got engaged. Sorry ladies.
          %div{:style => "text-align: left; width: fit-content; margin: 0 auto;"}
            %i.fa.fa-file-o
            %a{href: 'http://bit.ly/2ij1dVH'} Resume
            |
            %i.fa.fa-github
            %a{href: 'https://github.com/amingilani/chronopill'} Code
            |
            %i.fa.fa-lock
            %a{href: 'https://keybase.io/gilani'} Keybase
          .index.align-left
            / Unordered List
            %section
              %header
                %h3 Achievements
              .content
                %ul
                  %li
                    Graduated BSc Economics &amp; Finance. LSE, Pakistan
                    %strong — 2015
                  %li
                    Winner Coinbase Bithack II Hackathon
                    %strong — 2015
                  %li
                    Founder - Payload, incubated at Plan9, Pakistan
                    %strong — 2015
                  %li
                    Winner Thowathon I Hackathon
                    %strong — 2015
                  %li
                    Founder - Mailpenny, accelerated &amp; Funded by Boost VC, San Mateo
                    %strong — 2016
                  %li
                    Joined Toptal's network of the top 3% in talent
                    %strong — 2016
                  %li
                    Engaged
                    %strong — 2017
                  %li
                    Co-founder &amp; CTO
                    %a{href: 'https://nazdeeq.com'} Nazdeeq
                    %strong — 2017
          %a.button.small.wide.special.smooth-scroll-middle{:href => new_recommendation_path} Recommend me
          %hr/
          %header
            %h3 Why do you want to move the the US?
          %p
            While I love Pakistan, I strongly believe that my US business cannot interact with customers,
            understand the market, or raise funds if I'm on the other side of the planet.
          %hr/
          %header
            %h3 Do you really think you have exceptional abilities?
          %p
            %strong No.
            I really don't. Everything I've ever accomplished has come as a surprise to me.
            When Coinbase contacted me about winning a hackathon with 300 global participants I was dumbfounded.
            When my first startup was incubated because "it's a great idea", I thought the judges were high. When
            my investor emailed me about funding my company, I thought he was pulling a modern day nigerian prince
            scam on me (btw
            = succeed ")." do
              %a{:href => "https://boost.vc/apply"} apply to Boost VC
          %p
            But then again, if all of my previous accomplishements were flukes, I'm hoping that
            one day I'll build something that a lot of people delude themselves into think they want it.
            And if it takes pretending that I'm awesome, well, that can't be too hard.. I'm already pretty
            epic.
          %hr/
          %header
            %h3 Why did your startups fail?
          %p
            Jeez, well this is an awkward question. Because I messed up. I've been
            the only constant in all my projects. I've learnt a lot from my experiments, and I've identified
            the mistakes I made, and hope not to repeat them.
          %div{:style => "width: 60%; margin: 0 auto;"}
            %ol.align-left
              %li
                %p
                  %strong Distraction
                  %br/
                  Tech is a hammer, and when you're trying to solve problems,
                  everything is a nail. During my first startup, we started doing too much and ended up doing
                  nothing at all. We wrote code for six months, but never released a product. I learnt that
                  I need to figure out the one thing I need to build, and build it first.
              %li
                %p
                  %strong Working in Isolation
                  %br/
                  Startups are meant to serve customers. We worked too
                  long in isolation, building features that we didn't even test. And when we launched, no one came.
              %li
                %p
                  %strong Team &amp; Motivation
                  %br/
                  My first few startups were made of temporary talent whose motivations were
                  entirely different from those of the company. I learnt that in order to build a long term business,
                  a company needs a team of exceptional engineers whose commitment wasn't just as deep as their
                  (startup level tiny) paycheck. Co-founders need to believe that the company they're building will
                  further their own personal causes. Believing that the company is larger than the
                  team will keep the founding team together during times or conflict and crisis.
            %a.button.small.wide.special.smooth-scroll-middle{:href => new_recommendation_path} Recommend me
          %hr
          %header
            %h3 Why will your latest startup succeed?
          %p
            I've learnt a lot from my previous experiments, and I think I'm doing a lot of things right this time.
          %div{:style => "width: 60%; margin: 0 auto;"}
            %ol.align-left
              %li
                %p
                  %strong Idea &amp; Opportunity
                  %br/
                  We have this wonderful idea to lower barriers to international e-commerce, and we found an opportunity
                  in the Pakistani market.
              %li
                %p
                  %strong Focus &amp; Execution
                  %br/
                  If in my previous failures, I was doing too much at once, this time we're focusing on everything one
                  at a time. We distilled our vision down to the smallest possible piece of business functionality, and started
                  testing the market immediately. Over time, we're becoming more efficient at that function, and are already
                  a better alternative to our current competitors.
              %li
                %p
                  %strong Team
                  %br/
                  Our current team is the most dedicated group of people I've met in my life. Being vested in the
                  future of your company takes a lot of courage. There are three people on our team, one moved to Pakistan
                  to be closer to the team, a second is marrying the first, and I'm the third.
            %a.button.small.wide.special.smooth-scroll-middle{:href => new_recommendation_path} Recommend me
          %hr
          %header
            %h3 Do you have more questions?
          %p
            Ask me anything in the chatbox, and I'll add it here. You can also
            = succeed ',' do
              %a{href: 'https://twitter.com/amingilani'} tweet
            or
            %a{href: 'mailto:amin@gilani.me'} email
            me.
          %hr/
          / Footer
          %footer.wrapper.style1.align-center
            .inner
              %ul.icons
                %li
                  %a.icon.style2.fa-twitter{:href => "https://twitter.com/amingilani"}
                    %span.label Twitter
                %li
                  %a.icon.style2.fa-hacker-news{:href => "https://news.ycombinator.com/user?id=amingilani"}
                    %span.label Facebook
                %li
                  %a.icon.style2.fa-github{:href => "https://github.com/amingilani"}
                    %span.label Instagram
                %li
                  %a.icon.style2.fa-linkedin{:href => "https://linkedin.com/in/amingilani"}
                    %span.label LinkedIn
                %li
                  %a.icon.style2.fa-lock{:href => "https://keybase.io/gilani"}
                    %span.label Email
                %li
                  %a.icon.style2.fa-envelope{:href => "mailto:recommend@gilani.me"}
                    %span.label Email
              %p
                © Amin Shah Gilani. Design:
                = succeed "." do
                  %a{:href => "https://html5up.net"} HTML5 UP
                %a{:href => "https://github.com/amingilani/recommend"} Github
        / Scripts
        %script{:src => "https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"}
        = javascript_include_tag 'home'
        = render 'shared/ga'
        = render 'shared/drift_chat'
