<div id="letter">
  <div class="ui segment">
    <h1 class="ui center aligned header">Recommending SM Amin Gilani</h1>
    <h2 style="color: red;" class="ui center aligned header">
      <em><strong>Please finalize and sign this document</strong></em>
    </h2>
    <p>
        <strong><%= @recommendation.name %></strong> <br>
        Tel: <%= @recommendation.phone_number %><br >

        <% if @recommendation.fax_number.present? %>
        Fax: <%= @recommendation.fax_number%><br >
        <% end %>

        Email: <%= @recommendation.email %><br >
        <% if @recommendation.address_line_2.present? %>
          <%= @recommendation.address_line_1 %>, <%= @recommendation.address_line_2 %>
        <% else %>
          <%= @recommendation.address_line_1 %>
        <% end %>
        <br >
        <%= @recommendation.address_city %>,
        <%= @recommendation.address_state %> <%= @recommendation.address_zip %> <br>
        <%= @recommendation.address_country_pretty %>
    </p>
    <p>
      <strong>United States Citizenship and Immigration Services</strong><br>
      Attn: I-140<br>
      P.O. Box 660128<br>
      Dallas, TX 75266 <br>
      United States of America
    </p>

    <p><strong>RE: EB2 NATIONAL INTEREST WAIVER - PERMANENT RESIDENCY (SM AMIN GILANI)</strong></p>

    <p>
      <%= sanitize @recommendation.body_pretty %>
    </p>

    <p>
      <strong><%= @recommendation.name %></strong> <br>
      <%= @recommendation.position %><br >
      <%= @recommendation.organization %><br >
    </p>

    <%= link_to deliver_recommendation_path(@recommendation), data: {method: :post}, class: 'ui labeled green icon button' do %>
      <i class="ui write icon"></i>
      Finalize &amp; Sign
    <% end %>

    <%= link_to edit_recommendation_path(@recommendation), class: 'ui yellow button' do %>
      Edit
    <% end %>

  </div>
</div>
