<!DOCTYPE html>
<html>
  <head>
    <title>Recommend</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  </head>

  <body>
    <div class="ui text container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/ga' %>
    <%= render 'shared/drift_chat' %>
  </body>
</html>
